.row
  .col-xs-12.col-md-6.col-md-offset-1
    %h1 An Agile iteration with GitLab
    %h2 User stories → GitLab issues
    %p
      In Agile, you often start with a user story that captures a single feature that delivers business value for users. In GitLab, a single issue within a project serves this purpose
  .hidden-xs.hidden-sm.col-md-4
    = image_tag "/images/home/issue-list.png", alt: "Gitlab issues", style: "margin-top: 50px;"
%hr.divider

.row
  .hidden-xs.hidden-sm.col-md-4.col-md-offset-1
    = image_tag "/images/home/Tasks.png", class: "hidden-xs", alt: "Tasks GitLab", style: "margin-top: 50px;"
  .col-xs-12.col-md-6
    %h2 Task → GitLab task lists
    %p
      Often, a user story is further separated into individual tasks. You can create a task list within an issue's description in GitLab, to further identify those individual tasks.
%hr.divider

.row
  .col-xs-12.col-md-6.col-md-offset-1
    %h2 Epics → GitLab epics
    %p
      In the other direction, some Agile practitioners specify an abstraction above user stories, often called an epic, that indicates a larger user flow consisting of multiple features. In GitLab, an epic also contains a title and description, much like an issue, but it allows you to attach multiple child issues to it to indicate that hierarchy.
  .hidden-xs.hidden-sm.col-md-4
    = image_tag "/images/home/issue.png", alt: "Agile issues", style: "margin-top: 50px;"
%hr.divider

.row
  .hidden-xs.hidden-sm.col-md-4.col-md-offset-1
    = image_tag "/images/home/issue-board.png", class: "hidden-xs", alt: "GitLab Backlog", style: "margin-top: 50px;"
  .col-xs-12.col-md-6
    %h2 Product backlog → GitLab issue lists and prioritized labels
    %p
      The product or business owners typically create these user stories to reflect the needs of the business and customers. They are prioritized in a product backlog to capture urgency and desired order of development. The product owner communicates with stakeholders to determine the priorities and constantly refines the backlog. In GitLab, there are dynamically generated issue lists which users can view to track their backlog. Labels can be created and assigned to individual issues, which then allows you to filter the issue lists by a single label or multiple labels. This allows for further flexibility. Priority labels can even be used to also order the issues in those lists.
%hr.divider

.row
  .col-xs-12.col-md-6.col-md-offset-1
    %h2 Sprints → GitLab milestones
    %p A sprint represents a finite time period in which the work is to be completed, which may be a week, a few weeks, or perhaps a month or more. The product owner and the development team meet to decide work that is in scope for the upcoming sprint. GitLab's milestones feature supports this: assign milestones a start date and a due date to capture the time period of the sprint. The team then puts issues into that sprint by assigning them to that particular milestone.
  .hidden-xs.hidden-sm.col-md-4
    = image_tag "/images/home/Milestones.png", alt: "GitLab Milestones", style: "margin-top: 50px;"
%hr.divider

.row
  .hidden-xs.hidden-sm.col-md-4.col-md-offset-1
    = image_tag "/images/home/weight.png", class: "hidden-xs", alt: "Issue Weight Gitlab", style: "margin-top: 50px;"
  .col-xs-12.col-md-6
    %h2 Points and estimation → GitLab issue weights
    %p
      Also in this meeting, user stories are communicated, and the level of technical effort is estimated for each in-scope user story. In GitLab, issues have a weight attribute, which you would use to indicate the estimated effort. In this meeting (or in subsequent ones), user stories are further broken down to technical deliverables, sometimes documenting technical plans and architecture. In GitLab, this information can be documented in the issue, or in the merge request description, as the merge request is often the place where technical collaboration happens. During the sprint (GitLab milestone), development team members pick up user stories to work on, one by one. In GitLab, issues have assignees. So you would assign yourself to an issue to reflect that you are now working on it. We'd recommend that you create an empty and linked-to-issue merge request right away to start the technical collaboration process, even before creating a single line of code.

.row
  .col-xs-12.col-md-6.col-md-offset-1
    %h2 Agile board → GitLab Issue Boards
    %p
      Throughout the sprint, issues move through various stages, such as Ready for dev, In dev, In QA, In review, Done, depending on the workflow in your particular organization. Typically these are columns in an Agile board. In GitLab, issue boards allow you to define your stages and enable you to move issues through them. The team can configure the board with respect to the milestone and other relevant attributes. During daily standups, the team looks at the board together, to see the status of the sprint from a workflow perspective.
  .hidden-xs.hidden-sm.col-md-4
    = image_tag "/images/home/issue_board.png", alt: "Agile Scrum Kanban Board", style: "margin-top: 50px;"
%hr.divider

.row
  .hidden-xs.hidden-sm.col-md-4.col-md-offset-1
    = image_tag "/images/home/burndown-chart.png", class: "hidden-xs", alt: "GitLab burndown chart", style: "margin-top: 50px;"
  .col-xs-12.col-md-6
    %h2 Burndown charts → GitLab Burndown Charts
    %p
      The development team wants to know if they are on track in real time, and mitigate risks as they arise. GitLab provides burndown charts, allowing the team to visualize the work scoped in the current sprint "burning down" as they are being completed. Toward the end of the sprint, the development team demos completed features to various stakeholders. With GitLab, this process is made simple using Review Apps so that even code not yet released to production, but in various testing, staging or UAT environments can be demoed. Review Apps and CI/CD features are integrated with the merge request itself. These same tools are useful for Developers and QA roles to maintain software quality, whether through automated testing with CI/CD, or manual testing in a Review App environment.
%hr.divider
