---
layout: handbook-page-toc
title: Secure Frontend
---

## On this page
{:.no_toc .hidden-md .hidden-lg}

- TOC
{:toc .hidden-md .hidden-lg}


### Secure Frontend

The Secure Frontend team supports multiple groups beneath the [Secure sub-department](/handbook/engineering/development/secure).

### Team members

<%= direct_team(role_regexp: /[,&] Secure/, manager_role: 'Frontend Engineering Manager, Secure') %>


### Issue Boards

* [Planning Workflow Board](https://gitlab.com/groups/gitlab-org/-/boards/1804313?scope=all&utf8=%E2%9C%93&state=opened&label_name[]=devops%3A%3Asecure&not[label_name][]=group%3A%3Athreat%20insights&label_name[]=frontend&milestone_title=13.3) shows upcomming work we are planning.
* [Delivery Workflow Board](https://gitlab.com/groups/gitlab-org/-/boards/1888372?label_name[]=devops%3A%3Asecure&not[label_name][]=group%3A%3Athreat%20insights&label_name[]=frontend&milestone_title=13.3) shows our progress in the current milestone.
* [Assignee Distribution Board](https://gitlab.com/groups/gitlab-org/-/boards/943056?scope=all&utf8=%E2%9C%93&state=opened&label_name[]=frontend&label_name[]=devops%3A%3Asecure&milestone_title=13.3) shows open issues distributed by assignee.
* [Assignee Distribution App](https://nmccorrison.gitlab.io/issue-dashboard/#/13.3/farias-gl,markrian,djadmin,pgascouvaillancourt,dpisek) is a work in progress Vue app used for milestone planning and review.
* [Refinement Issues List](https://gitlab.com/gitlab-org/gitlab/-/issues?scope=all&utf8=%E2%9C%93&state=opened&label_name[]=devops%3A%3Asecure&label_name[]=frontend&not[label_name][]=group%3A%3Athreat%20insights&label_name[]=secure%3Arefinement-frontend) shows issues that need refinement.

### Reaching out to us

* [#s_secure-frontend] channel in Slack
* @secure_fe for notifications in Slack
* [@gitlab-org/secure/frontend] for notifications in GitLab


[#s_secure-frontend]: https://gitlab.slack.com/archives/s_secure-frontend
[@gitlab-org/secure/frontend]: https://gitlab.com/groups/gitlab-org/secure/frontend/-/group_members?with_inherited_permissions=exclude

